body {
    font-family: 'Montserrat', sans-serif;
    
}

header {
    background: #BBBBBB;
    padding: 20px 0;
    margin-bottom: 3px;
}

main {
    background: linear-gradient(#FFFFFF, #888888);
}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0%;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;

}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover {
    color: #C78C19;
    text-decoration: underline;
}

.img-banner {
    width: 100%;
}

.caixa-principal {
    position: relative;
    width: 940px;
    margin: 0 auto;
    text-align: justify;
}

p {
    margin: 0 0 1em;
    font-size: 20px;
}

.caixa-principal strong {
    font-weight: bold; 
}

.caixa-principal em {
    font-style: italic;
}

.estabelecimento {
    position: relative;
    width: 940px;
    margin: 0 auto;
    text-align: center;
    
}

.itens {
    line-height: 1.5em;
    font-style: italic;
}

.itens:before {
    content: "✭";
    padding: 5px;
}

.img-utensilios {
    width: 120px;
    float: left;
    padding: 0 20px 20px 0;
}

.titulo {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    margin: 1em 0 1em 0; 
}

.conteudo-beneficios {
    width: 640px;
    margin: 2em auto;
}

.lista-beneficios {
    display: inline-block;
    vertical-align: top;
    width: 40%;
}

.img-beneficios {
    width: 60%;
}

.video {
    width: 560px;
    margin: auto;
    padding: 1em;
}

footer {
    text-align: center;
    background: url("img/bg.jpg");
    padding: 20px;
}

.copyright {
    color: #FFFFFF;
    font-size: 13px;
}